<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3  w-20">
                <a [routerLink]="['/']" ><img src="assets/img/logo.png" alt="Applyi logo" class="logo" height="56" /></a>
            </div>
            <div class="col-12 col-md-3 ">
                <h5>Address</h5>

                <h4 class="text-uppercase">Applyisoft Limited</h4>
                <address class="">Ventures Park </address>
                <address class="">29 Mambilla Street</address>
                <address class=""> Maitama, Abuja, Nigeria</address>

                <address class="mt-md-5 mt-4 ">20-22 Wenlock Road,</address>
                <address class="">London N7 1GU, United Kingdom.</address>
            </div>
            <div class="col-12 col-md-3">
                <h5>Contact us</h5>

                <nav>
                    <ul>
                        <li class="text-uppercase">
                            Phone: <a (click)="callPhone('2349015525136')" class="btn">+234 901 552 5136</a>
                        </li>
                        <li class="text-uppercase">
                            Whatsapp: <a (click)="whatsappNumber('2349015525136')" class="btn">+234 901 552 5136</a>
                        </li>
                        <li class="text-uppercase">
                            Email: <a href="mailto:customer@applyi.ng" class="btn">customer@applyi.ng</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-md-3 w-20">
                <h5>Links</h5>

                <nav>
                    <ul>
                        <li>
                            <a class="btn" href="#">FAQs</a>
                        </li>
                        <li>
                            <a class="btn" href="#">About Us</a>
                        </li>
                        <li>
                            <a class="btn" href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a class="btn" href="#">Terms & Conditions</a>
                        </li>
                        <li>
                            <a class="btn" href="#">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col px-0">
                <div class="bar"></div>

                <h6 class="text-center d-none d-md-block">&copy; 2019 Koyo Ed. All Rights Reserved</h6>
                <h6 class="d-md-none pl-4 font-weight-normal text-uppercase copy">&copy; 2019 APLY Technologies LIMITED.</h6>
                <h6 class="d-md-none pl-4 font-weight-normal copy">All Rights Reserved.</h6>
            </div>
        </div>
    </div>
</footer>