<h2 class="text-center school-title d-none d-md-block">Nordic International School</h2>

<div class="school-wrapper d-flex">
    <div id="stickyContact" class="d-none d-md-block">
        <app-contact-person></app-contact-person>
    </div>

    <div class="flex-grow-1 school-detail ml-auto d-flex justify-content-end">
        <div class="">
            <app-school-basic></app-school-basic>

            <div class="mtop d-md-none" id="stickyContactMobile">
                <app-school-contact></app-school-contact>
            </div>

            <div class="mtop">
                <app-key-info></app-key-info>
            </div>

            <div class="mtop">
                <app-tuition-application></app-tuition-application>
            </div>

            <div class="mtop">
                <app-admission-requirement></app-admission-requirement>
            </div>

            <div class="mtop">
                <app-admission-process></app-admission-process>
            </div>

            <div class="mtop">
                <app-attendance></app-attendance>
            </div>

            <div class="mtop">
                <app-school-facilities></app-school-facilities>
            </div>

            <div class="mtop">
                <app-about-school></app-about-school>
            </div>

            <div class="mtop">
                <app-map></app-map>
            </div>
        </div>
    </div>
</div>