<div class="wrapper w-100">
    <div class="d-flex">
        <img src="assets/img/icons/help-circle.png" alt="Info bubble" width="24" />
        <h4 class="mb-0">Admission Process</h4>
    </div>

    <div class="details">
        <div class="key-value">
            <h5 class="">Contact us at</h5>
            <address>17, Ramotu Oluwakemi Street</address>
            <address>8b, Sesan Osinoye Street Medina Estate, Gbagada – Lagos</address>
            <p>Phone: <a (click)="callPhone('23414531398')" class="btn">+234-01-4531398</a>,
                <a (click)="callPhone('2348130811763')" class="btn">08130811763</a>,
                <a (click)="callPhone('2348023139337')" class="btn">08023139337</a>
            </p>

            <p>Email: <a href="mailto:info@happydayspreschoolng.com" class="btn">info@happydayspreschoolng.com</a></p>
        </div>
    </div>
</div>