.wrapper {
    border-radius: 6px;
    background-color: #ffffff;
    font-size: 1.6rem;
    width: 30rem;
    padding: 2rem;

    .avatar {
        background-image: url(../../assets/img/woman.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 256px;
        height: 260px;
    }
}

h3 {
    color: #1f2430;
    font-size: 2rem;
    margin-top: 2.6rem;
}

.contact-holders {
    margin-top: 2.1rem;

    p {
        margin-left: 2rem;
        margin-bottom: 0;
    }

    &.yellow {
        margin-top: 1.2rem;
        color: #f1b938;

        p {
            font-size: 1.3rem;
            font-weight: 500;
            margin-left: 8px;
        }
    }
}

.veri-section {
    margin-top: 2.4rem;
}

.btn {
    font-size: 1.5rem;
}

.send {
    border: 1px solid #5592bc;
    border-radius: 6px;
    background-color: rgba(85, 147, 188, 0.2);
    color: #3f7eaa !important;
    margin-top: 3rem;
    // font-weight: 500;
    height: 4.4rem;
}

.apply {
    color: #ffffff !important;
    border-radius: 6px;
    background-color: #5592BC !important;
    height: 4.4rem;
    font-weight: 600;
    margin-top: 2.4rem;
}
