<div class="wrapper">
    <div class="avatar"></div>

    <h3>Contact School</h3>

    <div class="d-flex align-items-center contact-holders">
        <img src="assets/img/icons/question-squared.png" alt="Question mark in a rectangle" height="28" />
        <p>Mrs. Francisca Chidubem</p>
    </div>

    <div class="d-flex align-items-center contact-holders">
        <img src="assets/img/icons/question-squared.png" alt="Question mark in a rectangle" height="28" />
        <p>08098338599</p>
    </div>

    <div class="d-flex align-items-center contact-holders">
        <img src="assets/img/icons/question-squared.png" alt="Question mark in a rectangle" height="28" />
        <p>08098338599</p>
    </div>

    <div class="d-flex align-items-center contact-holders">
        <img src="assets/img/icons/globe.png" alt="Globe" height="28" />
        <p>www.nordicschool.com</p>
    </div>

    <button class="btn send w-100">Send a message</button>

    <div class="d-flex justify-content-center veri-section">
        <div>
            <div class="d-flex align-items-center contact-holders yellow">
                <img src="assets/img/icons/question-squared-y.png" alt="Yellow Question mark in a rectangle" height="28" />
                <p>Verified by Applyi</p>
            </div>
            <div class="d-flex align-items-center contact-holders yellow">
                <img src="assets/img/icons/question-squared-y.png" alt="Yellow Question mark in a rectangle" height="28" />
                <p>Goverment Registered</p>
            </div>
        </div>
    </div>

    <button class="btn apply w-100">Apply Online</button>
</div>