<div class="wrapper w-100">
    <div class="d-flex">
        <img src="assets/img/icons/help-circle.png" alt="Calendar with dollar sign" width="24" />
        <h4 class="mb-0">About Us</h4>
    </div>

    <div class="about">
        <p>
            Claret Schools was established to provide Private Nursery and Primary School Education. The School is
            located at Plot 700, Gitto Road, Mabushi, Abuja, FCT, Nigeria.
            The School operates a robust Early YearsFoundation Stage (EYFS) in the Nursery Section.
            The Primary Section operates a rich blend of the Nigerian and the International Primary Curricula
            with the use of the Edexcel International Primary Curriculum in Numeracy (Mathematics), Science
            and Literacy (English).
        </p>
        <p>
            Learning with the International Primary Curriculum means that the children focus on a
            combination of academic, personal and international learning that is exciting and
            challenging. The aim of the IPC is to help every child enjoy the learning of a wide range of
            subjects and to develop an inquiring mind and personal attributes that will help them throughout
            teenage and adult years, and to develop a sense of their own nationality and culture at the same
            time, developing a profound respect for the nationalities and cultures of others. Through the
            IPC approach to learning, children develop the knowledge, skills and understanding necessary to
            confidently face the world of tomorrow.
        </p>
    </div>

</div>