.wrapper {
    border-radius: 6px;
    background-color: #ffffff;
    font-size: 1.7rem;
    max-width: 83rem;
    padding: 2.4rem 4rem;

    h4 {
        margin-left: 8px;
        font-size: 2rem;
        color: #1f2430;
    }
}

p {
    margin-bottom: 0;
    line-height: 3rem;
    color: #51596c;
}

.about {
    margin-top: 2rem;
}

@media (max-width: 576px) {
    h4 {
        font-size: 1.7rem;
    }

    .wrapper {
        max-width: 100%;
        padding: 2.3rem 2rem;
        border: 1px solid #ffe367;
        font-size: 1.4rem;
    }

    .about {
        margin-top: 1.5rem !important;
    }
}
