<div class="wrapper w-100">
    <div class="d-flex">
        <img src="assets/img/icons/school.png" alt="Calendar with dollar sign" width="24" />
        <h4 class="mb-0">School Facilities</h4>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <p class="key">Library</p>
            </div>
            <div class="col-12 col-md-4">
                <p class="key">Science Laboratory</p>
            </div>
            <div class="col-12 col-md-4">
                <p class="key">Computer Laboratory</p>
            </div>
            <div class="col-12 col-md-4">
                <p class="key">Playground</p>
            </div>
            <div class="col-12 col-md-4">
                <p class="key">Swimming Lessons</p>
            </div>
            <div class="col-12 col-md-4">
                <p class="key">Medical Facilities</p>
            </div>
            <div class="col-12 col-md-4">
                <p class="key">Student Clubs</p>
            </div>
            <div class="col-12 col-md-4">
                <p class="key">Board Games</p>
            </div>
        </div>
       
    </div>
</div>