<div class="wrapper w-100">
    <div class="d-flex">
        <img src="assets/img/icons/info-bubble.png" alt="Info bubble" width="24" />
        <h4 class="mb-0">Key Information</h4>
    </div>

    <div class="details">
        <div class="key-value d-flex">
            <p class="key">Founded</p>
            <p>2015</p>
        </div>
        <div class="key-value d-flex">
            <p class="key">Ownership Private</p>
            <p>Ownership Private</p>
        </div>
        <div class="key-value d-flex">
            <p class="key">Gender Boys & Girls</p>
            <p>Gender Boys & Girls</p>
        </div>
        <div class="key-value d-flex">
            <p class="key">Scholarship No</p>
            <p>Scholarship No</p>
        </div>
        <div class="key-value d-flex">
            <p class="key">Student Population 47</p>
            <p>Student Population 47</p>
        </div>
        <div class="key-value d-flex">
            <p class="key">Special Needs Yes</p>
            <p>Special Needs Yes</p>
        </div>
        <div class="key-value d-flex">
            <p class="key">Curriculum</p>
            <p class="w-70">Curriculum National Curriculum of England & Wales Nigerian National Curriculum <br />
                Montessori Curriculum</p>
        </div>
    </div>
</div>