.school-title {
    margin: 4rem auto 5rem auto;
    font-size: 3.4rem;
    font-weight: bold;
    color: #1f2430;
    max-width: 83rem;
}

.school-wrapper {
    max-width: 116rem;
    margin: auto;
}

.school-detail {
    margin-left: 3rem;
}

.mtop {
    margin-top: 2rem;
}

.sticky {
    position: fixed;
    top: 2rem;
}

@media(max-width: 576px) {
    .school-wrapper  {
        padding: 0 1.5rem;
    }

    .school-detail {
        max-width: 100%;
    }
}
