<div class="wrapper d-flex">
    <div class="w-25 border-right">
        <div class="d-flex justify-content-center">
            <div>
                <img src="assets/img/icons/globe.png" alt="Globe">
            </div>
        </div>
        <p class="text-center text-white"><a (click)="callPhone('23408023347791')" class="btn">08023347791</a></p>
    </div>
    <div class="w-25 border-right">
        <div class="d-flex justify-content-center">
            <div>
                <img src="assets/img/icons/envelope-white.png" alt="White Envelope" height="22" />
            </div>
        </div>
        <p class="text-center text-white"><a href="#" class="btn text-white">Message</a></p>
    </div>
    <div class="w-25 border-right">
        <div class="d-flex justify-content-center">
            <div>
                <img src="assets/img/icons/globe-white.png" alt="Globe" height="22">
            </div>
        </div>
        <p class="text-center text-white"><a href="#" class="btn text-white">Website</a></p>
    </div>
    <div class="w-25">
        <div class="d-flex justify-content-center">
            <div>
                <img src="assets/img/icons/hand-tap-single.png" alt="Single finger tap" height="22" />
            </div>
        </div>
        <p class="text-center text-white"><a href="#" class="btn text-white">Apply Now</a></p>
    </div>

</div>
