.wrapper {
    background-color: #080762;
}

p {
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.w-25 {
    padding-top: 1.4rem;
    padding-bottom: 1rem;
}

.border-right {
    border-right: 1px solid #ffe367 !important;
}
