<div class="px-4 mb-3">
    <app-search></app-search>
</div>

<div class="d-md-flex justify-content-center">
    <div>
        <div class="px-4 mb-3">
            <a [routerLink]="['/school']"><app-school-basic></app-school-basic></a>
        </div>
        <div class="px-4 mb-3">
            <a [routerLink]="['/school']"><app-school-basic></app-school-basic></a>
        </div>
        <div class="px-4 mb-3">
            <a [routerLink]="['/school']"><app-school-basic></app-school-basic></a>
        </div>
    </div>
</div>
