.wrapper {
    border-radius: 6px;
    background-color: #ffffff;
    font-size: 1.6rem;
    max-width: 83rem;
    padding: 2.4rem 4rem;


    h4 {
        margin-left: 8px;
        font-size: 2rem;
        color: #1f2430;
    }
}

.details {
    margin-top: 3rem;
}

.key-value {
    .key {
        width: 35%;
        font-weight: 600;
    }

    p {
        line-height: 3.8rem;
        font-size: 1.5rem;
    }
}

.w-70 {
    max-width: 50%;
}

h5 {
    font-size: 1.8rem;
    line-height: 3.8rem;
    font-weight: 600;
    margin-bottom: 1.2rem;

    &.app-header {
        margin-top: 2.8rem;
    }
}

@media (max-width: 576px) {
    h4 {
        font-size: 1.7rem;
        font-weight: 500;
    }

    h5 {
        font-size: 1.6rem;
        color: #000000;
        font-weight: 600;
    }

    .wrapper {
        max-width: 100%;
        padding: 2.3rem 2rem;
        border: 1px solid #ffe367;
        font-size: 1.4rem;
    }

    .key-value {
        .key {
            width: 50%;
            font-weight: 600;
        }
    }
}