<div class="wrapper w-100">
    <div class="d-flex">
        <img src="assets/img/icons/account-group.png" alt="Calendar with dollar sign" width="24" />
        <h4 class="mb-0">Attendance</h4>
    </div>

    <div class="details">
        <h5 class="">Tuition Fees</h5>
        
        <div class="key-value d-flex">
            <p class="key">Pre-Nursery</p>
            <p>Below N100,000</p>
        </div>
        <div class="key-value d-flex">
            <p class="key">Nursery</p>
            <p>N100,000 – 200,000</p>
        </div>
        <div class="key-value d-flex">
            <p class="key">Primary</p>
            <p>N100,000 – 200,000</p>
        </div>
        <div class="key-value d-flex">
            <p class="key">Junior Secondary</p>
            <p>N100,000 – 200,000</p>
        </div>
        <div class="key-value d-flex">
            <p class="key">Senior Secondary</p>
            <p>N200,000 – 300,000</p>
        </div>
        
    </div>
</div>