@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$color-dark: #51596C;

html,
body {
  font-family: 'Inter', sans-serif;;
  font-size: 62.5%;
  color: $color-dark;
  background-color: #F5F7FA;;
}

h2 {
    font-size: 3.4rem;
}

a {
  text-decoration: none !important;
}

.container {
    max-width: 116rem;
}