<h3 class="text-center">Search for School</h3>

<div class="wrapper pb-0 mx-auto">
    <div class="d-md-flex padded-h">
        <div class="input-wrapper d-flex align-items-center flex-grow-1">
            <div>
                <img src="assets/img/icons/map-icon.svg" alt="Map icon">
            </div>
            <input type="text" class="form-control h-100 border-0" placeholder="Location" />
        </div>
        
        <div class="input-wrapper d-flex align-items-center flex-grow-1">
            <div>
                <img src="assets/img/icons/home-icon.svg" alt="Home icon">
            </div>
            <input type="text" class="form-control h-100 border-0" placeholder="School Name" />
        </div>

        <button class="btn search-btn">Search</button>
    </div>

    <!-- Filter -->
    <h5 class="mt-4 padded-h">Filter</h5>

    <!-- Mobile -->
    <div class="container d-md-none">
        <div class="row">
            <div class="col-6 border-bottom">
                <label class="d-block">School Type</label>
                <select class="form-control">
                    <option value="any">any</option>
                </select>
            </div>
            <div class="col-6 border-bottom border-left">
                <label class="d-block">Tuition</label>
                <select class="form-control">
                    <option value="any">any</option>
                </select>
            </div>
            <div class="col-6 border-bottom">
                <label class="d-block">Gender</label>
                <select class="form-control">
                    <option value="any">any</option>
                </select>
            </div>
            <div class="col-6 border-bottom border-left">
                <label class="d-block">Attendance</label>
                <select class="form-control">
                    <option value="any">any</option>
                </select>
            </div>
            <div class="col-6">
                <label class="d-block">Faith</label>
                <select class="form-control">
                    <option value="any">any</option>
                </select>
            </div>
            <div class="col-6 border-left">
                <label class="d-block">Special Need</label>
                <select class="form-control">
                    <option value="any">any</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Desktop -->
    <div class="container d-none d-md-block">
        <div class="row">
            <div class="col-4 border-bottom">
                <label class="d-block">School Type</label>
                <select class="form-control">
                    <option value="any">any</option>
                </select>
            </div>
            <div class="col-4 border-bottom border-left">
                <label class="d-block">Tuition</label>
                <select class="form-control">
                    <option value="any">any</option>
                </select>
            </div>
            <div class="col-4 border-bottom border-left">
                <label class="d-block">Gender</label>
                <select class="form-control">
                    <option value="any">any</option>
                </select>
            </div>
            <div class="col-4">
                <label class="d-block">Attendance</label>
                <select class="form-control">
                    <option value="any">any</option>
                </select>
            </div>
            <div class="col-4 border-left">
                <label class="d-block">Faith</label>
                <select class="form-control">
                    <option value="any">any</option>
                </select>
            </div>
            <div class="col-4 border-left">
                <label class="d-block">Special Need</label>
                <select class="form-control">
                    <option value="any">any</option>
                </select>
            </div>
        </div>
    </div>
</div>

<h6 class="mx-auto">Showing: 487 filtered schools</h6>